/*Map styles*/
.area{
  fill: lightgray 
}
.areaAvailable {
  fill: lightblue
}
.areaAvailable:hover {
  fill: blue
}
#new-map {
  margin: auto;
}
.mapBox  {
  width: 19%;
  height: 72vh;
  margin: 1px;
  margin-top: 35px;
  margin-left: 5px;
  background: blue;
  border-radius: 10px;
  resize:none;
}
#map-chart {
  margin: 0;
  width: 200px;
  height: 68vh;
}
#graph {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.h4 {
    color: #777;
    line-height: 0px;
}
/*Map styles*/

/*Tip for mapBox*/
#tip-container {
  z-index: 1500;
  display: none;
	width: 40px;
	height: 20px;
	position: absolute;
  top:20%;
  bottom: 0;
  left: 20%;
	margin-top: -2.4px;
	margin-left: -20px;
  overflow:auto;
	pointer-events: none;
}
#popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;

	margin: -10px auto 0;
	pointer-events: auto;

	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);

	background: snow;
	color: #333;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.30) -3px -2.2px 2.9px;
}
/*End of tip for mapBox*/
